
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listKhai = (List<ModelEF.Model.Product>)ViewBag.ProKhai;
    var listBo = (List<ModelEF.Model.Product>)ViewBag.ProBo;
    var listChuc = (List<ModelEF.Model.Product>)ViewBag.ProChuc;
    var listLe = (List<ModelEF.Model.Product>)ViewBag.ProLe;
}
@section menuleft
{
    <div class="side-bar col-md-3">
        <div class="search-hotel">
            <h3 class="agileits-sear-head">Tìm kiếm tại đây..</h3>
            <form action="#" method="post">
                <input type="search" placeholder="Product name..." name="search" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <!-- price range -->
       
        <!-- //price range -->
        <!-- food preference -->
        <div class="left-side">
            <h3 class="agileits-sear-head">Kiểu dáng</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Hoa bó</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Hoa giỏ</span>
                </li>
            </ul>
        </div>
        <!-- //food preference -->
        <!-- discounts -->
        <div class="left-side">
            <h3 class="agileits-sear-head">Giảm giá</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">5% hoặc hơn</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">10% hoặc hơn</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">20% or More</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">30% hoặc hơn</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">50% hoặc hơn</span>
                </li>
                <li>
                    <input type="checkbox" class="checked">
                    <span class="span">60% hoặc hơn</span>
                </li>
            </ul>
        </div>
        <!-- //discounts -->
        <!-- reviews -->
        <div class="customer-rev left-side">
            <h3 class="agileits-sear-head">Review của khách hàng</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>5.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>4.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>3.5</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>3.0</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>2.5</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //reviews -->
        <!-- cuisine -->
        <!-- //cuisine -->
    </div>
    }

<div class="agileinfo-ads-display col-md-9">
    <div class="wrapper">
        <!-- first section (nuts) -->
        <div class="product-sec1">
            <h3 class="heading-tittle">Hoa Khai trương</h3>
            @foreach (var item in listKhai)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src=" @Url.Content("~/Image/"+@item.Image)" height="50" width="50" alt="@item.Name">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">@item.Name</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.UnitCost</span>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Almonds, 100g" />
                                        <input type="hidden" name="amount" value="149.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- //first section (nuts) -->
        <!-- second section (nuts special) -->
        <div class="product-sec1 product-sec2">
            <div class="col-xs-7 effect-bg">
                <h3 class="">Đa dạng loại hoa</h3>
                <h6>Phục vụ chu đáo</h6>
                <p>Nhiều chương trình giảm giá</p>
            </div>
            
            <div class="col-xs-5 bg-right-nut">
                <img src="images/nut1.png" alt="">
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //second section (nuts special) -->
        <!-- third section (oils) -->
        <div class="product-sec1">
            <h3 class="heading-tittle">Hoa Bó</h3>
            @foreach (var item in listBo)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src=" @Url.Content("~/Image/"+@item.Image)" height="50" width="50" alt="@item.Name">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">@item.Name</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.UnitCost</span>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Freedom Sunflower Oil, 1L" />
                                        <input type="hidden" name="amount" value="78.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- //third section (oils) -->
        <!-- fourth section (noodles) -->
        <div class="product-sec1">
            <h3 class="heading-tittle">Hoa Chúc Mừng</h3>
            @foreach (var item in listChuc)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src=" @Url.Content("~/Image/"+@item.Image)" height="50" width="50" alt="@item.Name">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">@item.Name</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.UnitCost</span>
                                
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="YiPPee Noodles, 65g" />
                                        <input type="hidden" name="amount" value="15.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- //fourth section (noodles) -->
    </div>
</div>
<div class="featured-section" id="projects">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Hoa Lễ
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="product-sec1">
            @foreach (var item in listLe)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src=" @Url.Content("~/Image/"+@item.Image)" height="50" width="50" alt="@item.Name">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">@item.Name</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.UnitCost</span>

                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="YiPPee Noodles, 65g" />
                                        <input type="hidden" name="amount" value="15.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>

