<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="@Url.Content("~/")">
                        <i class="fa fa-dashboard"></i>
                        <span>Quản trị viên</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Danh mục</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("Index","User")"><i class="fa fa-folder-open-o"></i>Danh mục sản phẩm</a></li>
                        <li><a href=""><i class="fa fa-folder-open-o"></i>Thống kê sản phẩm</a></li>

                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("Index","Product")"><i class="fa fa-folder-open-o"></i>Quản lý sản phẩm</a></li>
                        <li><a href=""><i class="fa fa-folder-open-o"></i>Quản lý đơn hàng</a></li>
                        <li><a href="@Url.Action("Index","User")"><i class="fa fa-user"></i>Quản lý khách hàng</a></li>
                        <li><a href="@Url.Action("Index","User")"><i class="fa fa-user"></i>Quản lý người dùng</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</aside>
